/* Add your global styles here */

.container {
  padding: 1rem;
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
}

/* Add custom styles for the dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown when the button is clicked */
.show {
  display: block;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Style for the buttons in the table */
table button {
  padding: 6px 12px;
  background-color: #d03625;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table button.delete-btn {
  background-color: #f44336;
}

.add-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* Add the following styles */
  display: none;
}

/* Show the form when the 'showAddForm' class is applied */
.add-form-container.showAddForm {
  display: flex;
  flex-direction: row;
}

/* Style for the add form */
.add-form {
  width: 100%;
}

.add-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.add-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-form button {
  padding: 8px 20px;
  margin-top: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-form button.cancel-btn {
  background-color: #f44336;
  margin-right: 10px;
}

@media (max-width: 600px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 5px;
  }
}

label {
  width: 50px;
  margin-right: 20px;
}
