<section class="subscribe-section" id="subscribeSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="content">
                    <h1>Why should one subscribe?</h1>
                    <p style=" word-break: break-word;
                        width: 70%;">By subscribing to the monthly parking
                        plan, individuals
                        can
                        ensure a guaranteed spot in the parking lot at any given
                        time,
                        eliminating the need to worry about availability. With
                        their
                        reserved spot, they can conveniently check in and out of
                        the
                        parking lot multiple times throughout the day without
                        incurring
                        any additional fees. This subscription offers peace of
                        mind and
                        hassle-free parking, making it an ideal choice for
                        frequent
                        visitors or those who value convenience and flexibility
                        in their
                        parking arrangements.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-button d-flex justify-content-start">
                    <button (click)="navigateTo('/subscribe')"
                        class="orange-btn">Subscribe<i class="fa
                            fa-arrow-right ml-2"></i></button>
                </div>
            </div>

        </div>
    </div>
</section>